<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:fragment="content" th:remove="tag">
<footer class=" footer">
    <!-- Footer Links -->
    <div class=" container text-center text-md-left">
        <!-- Grid row -->
        <div class="row mt-2 footer-main">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto item ">
                <!-- Content -->
                <h6 class="text-uppercase font-weight-bold">onthi.xyz</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;"><br>
                <img th:src="@{/image/logo-ltt-2.png}" style="width: 70%;">
                <h3>onthi.xyz là trang web hoàn toàn miễn phí,cung cấp các bài kiểm tra nhanh chóng, chính xác. </h3>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto item " >
                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">HỌC TẬP</h6>
                <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p><a th:href="@{/}">Trang chủ</a></p>
                <p><a href="#!" >Thi cử</a></p>
                <p><a href="#!" >Tạo đề</a></p>
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto item">
                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">TÙY CHỌN</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p><a th:href="@{/contact}">Liên hệ</a></p>
                <p><a href="#!">Thông tin</a></p>
                <p><a href="#!">Trợ giúp</a></p>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto item">
                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">LIÊN HỆ</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;"><br>
                <p><i class="fa fa-map-marker mr-3"></i>207 Giải Phóng, Hai Bà Trưng, Hà Nội</p>
                <p><i class="fa fa-envelope mr-3"></i> cuongbuilh@gmail.com </p>
                <p><i class="fa fa-phone mr-3"></i> +(84) 387175073 </p>
            </div>
        </div>
        <div class="footer-copyright text-center pb-2">© 2022 Copyright</div>
    </div>
</footer>
</div>